<p id="notice"><%= notice %></p>

<h1>Guests</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Member</th>
      <th>Branch</th>
      <th>R no</th>
      <th>Check in</th>
      <th>Check out</th>
      <th>Billed amount</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @guests.each do |guest| %>
      <tr>
        <td><%= @members_hash[guest.member_id] %></td>
        <td><%= @branches_hash[guest.branch_id] %></td>
        <td><%= guest.r_no %></td>
        <td><%= guest.check_in %></td>
        <td><%= guest.check_out %></td>
        <td><%= guest.billed_amount %></td>
        <td><%= link_to 'Show', guest, class: "btn btn-success" %></td>
        <td><%= link_to 'Edit', edit_guest_path(guest), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', guest, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
    <tfoot>
    <tr>
      <th>Member</th>
      <th>Branch</th>
      <th>R no</th>
      <th>Check in</th>
      <th>Check out</th>
      <th>Billed amount</th>
      <th class="blank"></th>
      <th class="blank"></th>
      <th class="blank"></th>
    </tr>
    </tfoot>
</table>

<br>

<%= link_to 'New Guest', new_guest_path, class: "btn btn-success" %>
