<%= form_with(model: employee) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>

  <div class="field">
    <%= form.label :email_id %>
    <%= form.text_field :email_id %>
  </div>

  <div class="field">
    <%= form.label :dob %>
    <%= form.date_select :dob, min: Date.new(1894, 07, 03), max: Date.today %>
  </div>

  <div class="field">
    <%= form.label :join_date %>
    <%= form.date_select :join_date, min: 100.years.ago %>
  </div>

  <div class="field">
    <%= form.label :salary %>
    <%= form.text_field :salary %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.select :category_id, options_for_select([["Manager",1],["Supervisor",2],["General-staff",3],["Intern",4]]) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
