<p id="notice"><%= notice %></p>

<h1>Monthly Expenses</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Financial month</th>
      <th>Electricity bill</th>
      <th>Water bill</th>
      <th>Branch</th>
      <th>Monthly turnover</th>
      <th>Monthly profit</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @monthly_expenses.each do |monthly_expense| %>
      <tr>
        <td><%= monthly_expense.financial_month %></td>
        <td><%= monthly_expense.electricity_bill %></td>
        <td><%= monthly_expense.water_bill %></td>
        <td><%= monthly_expense.branch_id %></td>
        <td><%= monthly_expense.monthly_turnover %></td>
        <td><%= monthly_expense.monthly_profit %></td>
        <td><%= link_to 'Show', monthly_expense %></td>
        <td><%= link_to 'Edit', edit_monthly_expense_path(monthly_expense) %></td>
        <td><%= link_to 'Destroy', monthly_expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monthly Expense', new_monthly_expense_path, class: "btn btn-success" %>
