<p id="notice"><%= notice %></p>

<h1>Service Staffs</h1>

<table>
  <thead>
    <tr>
      <th>Emp</th>
      <th>Department</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_staffs.each do |service_staff| %>
      <tr>
        <td><%= service_staff.emp_id %></td>
        <td><%= service_staff.department %></td>
        <td><%= link_to 'Show', service_staff %></td>
        <td><%= link_to 'Edit', edit_service_staff_path(service_staff) %></td>
        <td><%= link_to 'Destroy', service_staff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service Staff', new_service_staff_path %>
