<%= form_with(model: hotel) do |form| %>
  <% if hotel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>

      <ul>
        <% hotel.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :branch_name %>
    <%= form.text_field :branch_name %>
  </div>

  <div class="field">
    <%= form.label :manager_id %>
    <%= form.text_field :manager_id %>
  </div>

  <div class="field">
    <%= form.label :stars %>
    <%= form.text_field :stars %>
  </div>

  <div class="field">
    <%= form.label :street_address %>
    <%= form.text_field :street_address %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div class="field">
    <%= form.label :pincode %>
    <%= form.text_field :pincode %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
