<div class="card my-4">
<div class="card-header">
  <strong>Branch Name:</strong>
  <%= @hotel.branch_name %>
</div>
<div class="card-body">
  <p>
    <strong>Manager:</strong>
    <%= @hotel.manager_id %>
  </p>

  <p>
    <strong>Stars:</strong>
    <%= @hotel.stars %>
  </p>

  <p>
    <strong>Street address:</strong>
    <%= @hotel.street_address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @hotel.city %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= @hotel.country %>
  </p>

  <p>
    <strong>Pincode:</strong>
    <%= @hotel.pincode %>
  </p>
  <%= link_to 'Edit', edit_hotel_path(@hotel), class:"btn btn-warning"%>
  <%= link_to 'Back', hotels_path, class:"btn btn-danger"%>
</div>



</div>