<!DOCTYPE html>
<html>
<style>
    @import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
    ul {
        display: flex;
        flex-direction: column;
        align-items: start;
        list-style-type: none;
    }
    ul li {
        padding: 6px 0;
    }
    ul li a {
        --fill-color: #ffffff;
        text-decoration: none;
        position: relative;
        display: block;
        padding: 1px 0;
        font: 36px Raleway, sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-text-stroke: 1px var(--fill-color);
        background: linear-gradient(var(--fill-color) 0 100%) left/0 no-repeat;
        color: transparent;
        -webkit-background-clip: text;
        transition: 0.5s linear;
    }
    ul li a:hover {
        background-size: 100%;
    }
    a {
        color: #747474;
        text-decoration: none; /* no underline */
    }
    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
</style>
  <head>
    <title>Hcms</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <link rel='stylesheet' href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container col-lg-12">
      <a class="navbar-brand" href="#">
        <img src="https://www.nitk.ac.in/design-system/images/logo.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="mx-1">
            <a href="<%= root_url %>">&nbspDashboard&nbsp </a>
          </li>
          <li class="mx-1">
            <a href="<%= hotels_path %>">&nbspBranches&nbsp </a>
          </li>
          <li class="mx-1">
            <a href="<%= employees_path %>">&nbspEmployees&nbsp</a>
          </li>
          <li class="mx-1">
            <a href="<%=rooms_path %>">&nbspRooms&nbsp</a>
          </li>
          <li class="mx-1">
            <a href="<%= monthly_expenses_path %>">&nbspExpenses&nbsp</a>
          </li>
          <li class="mx-1">
            <a href="<%= members_path %>">&nbspMembers&nbsp</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container col-lg-12">
    <%= yield %>
  </div>
  </body>
<script>
    $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('.table tfoot th:not(.blank)').each( function () {
            var title = $(this).text();
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        } );

        // DataTable
        var table = $('.table').DataTable({
            initComplete: function () {
                // Apply the search
                this.api().columns().every( function () {
                    var that = this;

                    $( 'input', this.footer() ).on( 'keyup change clear', function () {
                        if ( that.search() !== this.value ) {
                            that
                                .search( this.value )
                                .draw();
                        }
                    } );
                } );
            }
        });

    } );
</script>
</html>
