<p id="notice"><%= notice %></p>

<h1>Members</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Member ID</th>
      <th>Tier</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Contact number</th>
      <th>Loyalty points</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.id %></td>
        <td><%= member.tier %></td>
        <td><%= member.first_name %></td>
        <td><%= member.last_name %></td>
        <td><%= member.email %></td>
        <td><%= member.contact_number %></td>
        <td><%= member.loyalty_points %></td>
        <td><%= link_to 'Show', member, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_member_path(member), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_member_path, class: "btn btn-success" %>
