<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @member.id %>
</p>

<p>
  <strong>Tier:</strong>
  <%= @member.tier %>
</p>

<p>
  <strong>First name:</strong>
  <%= @member.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @member.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @member.contact_number %>
</p>

<p>
  <strong>Loyalty points:</strong>
  <%= @member.loyalty_points %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
